* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* border: 1px solid red; */
}

.box1 {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    padding-left: 50%;
    padding-right: 50%;
}

.a {
    display: flex;
}

main {
    width: 400px;
    height: 350px;
    position: relative;
    margin: 0 auto;
    border: 2px solid #cccccc;
    margin-top: 10px;
}

header {
    height: 90px;
    background-color: #17a2b8;
    margin-bottom: 60px;
    border: 2px solid #17a2b8;
}

#user-circle {
    height: 120px;
    width: 120px;
    position: absolute;
    top: 30px;
    left: 30px;
    border-radius: 60px;
}

.profile-icons {
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

.profile-icons2 {
    height: 30px;
    width: 20px;
    margin-right: 5px;
}

.align-right {
    margin-left: 30px;
    margin-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.align-right-name {
    margin-left: 30px;
    margin-bottom: 10px;
    font-family: cursive;
}

/*----------------------------------------------------------------------------------------------------------*/
.container1 {
    width: 265px;
    height: 180px;
    border: 2px solid #cccccc;
    margin-top: 10px;
    margin-left: 10px;
}

.container2 {
    width: 265px;
    height: 300px;
    border: 2px solid #cccccc;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 0;
}

.container {
    width: 400px;
    height: 200px;
    margin: 0 auto;
    border: 2px solid #cccccc;
    margin-top: 10px;
}

.bottom {
    width: 265px;
    height: 30px;
    border: 2px solid #cccccc;
    padding-top: 5px;
    margin-left: -2px;
}

.CR {
    margin-left: 40px;
    color: white;
    font-size: larger;
    margin-top: 15px;
}

.header {
    height: 50px;
    background-color: #3a4041;
    margin-bottom: 5px;
    border: 2px solid #3a4041;
    display: flex;
}

.align-right2 {
    margin-left: -19px;
    margin-top: 17px;
}

.align-right3 {
    margin-left: -42px;
    margin-top: 17px;
}

.user-photo {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    /* margin-right: 5px; */

}

.border {
    height: 30px;
    width: 30px;
    margin: 10px 0 10px 10px;
    border-radius: 25px;
    background-color: #cccccc;
    display: flex;
}

.border2 {
    width: 50px;
    height: 25px;
    border-radius: 50%;
    margin: 12px 0 10px 10px;
    background-color: #cccccc;
    display: flex;
}

.UR {
    display: flex;
    padding: 0px;
    justify-content: space-between;
}

.YC {
    display: flex;
    padding: 0px;
}

.ur {
    margin: 10px;
}

.r-name {
    padding-top: 10px;
    font-weight: bold;
    width: 70px;
}

.UrMain {
    display: flex;
    justify-content: space-between;
}

.A {
    color: blue;
    text-decoration: underline;
    margin-left: 5px;
}

/*----------------------------------------------------------------------------------------------------------*/
.nav {
    height: 80px;
    background-color: #333333;
    display: flex;
    margin-bottom: 5px;
    padding-left: 24%;
    padding-right: 23%;
    justify-content: center;
}

.nav-title {
    margin: 20px 20px 20px 0px;
    color: white;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.nav-links {
    margin-top: 5px;
    display: flex;
}

.nav-links2 {
    display: flex;
    margin-top: 10px;
    margin-right: 80px;
}

.btn {
    width: 80px;
    background-color: #17a2b8;
    box-shadow: 3px 3px black;
    color: white;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right: 0px;
}

li {
    display: flex;
    margin: 20px;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}